<html>
<%= head %>
<body>
  <div id='page'>
    <%= header %>
    <h2><%= user[:username] %></h2>
  
    <h2>What Im Boycotting</h2>
  
    <div id='boycotts'>
    <% boycotts.each do |b| %>
      <div>
        <span class='name'>
          <a href='/company/<%= b[:company_slug] %>'><%= b[:company_name] %></a>
        </span>
        <span class='reason'>
          <%= b[:reason] %>
        </span>
    <% end %>
    </div>
  </div>  
</body>
</html>
