<html>
<%= head %>
<body>
  <div id='page' class='company'>
    <%= header %>
    <div id='content'>
      <div id='main'>
        <div id='name'>
          <div class='common'>
            <img align='left' src='<%= sunlight_company["metadata"]["photo_url"] %>' height='50'/>
            <%= sunlight_company["name"] %>
          </div>          
        </div>
        <div id='parent'>
          <!-- empty because safeway is the parent company -->
        </div>
        <div class='section'>
          <div class='title'>
            Subsidiaries
          </div>
          <div id='subsidiaries'>
            <% if company[:corpwatch_id].nil? %>
              <a href='/company/add-subsidiaries/<%= company[:name] %>'>Add Subsidiary Information</a>
            <% else %>
              <iframe id='subsidiary_data' style='display: none' src='http://api.corpwatch.org/companies/<%= company[:corpwatch_id] %>/children.json' ></iframe>
              <script src='javascript/subsidiaries.js'></script>
            <% end %>
          </div>
        </div>
        <div id='contributions' class='section'>
          <div class='title'>
            Political Contributions
          </div>
            <script lanuage='javascript'> make_pie(<%= party_pie.to_json %>) </script>
            Details on <a target='_blank' href='http://influenceexplorer.com/organization/<%= company[:slug]%>/<%= company[:sunlight_id] %>'>Influence Explorer</a>
        </div>
      </div>
      <div id='sidebar'>
        <div id='boycott'>
          <% if user_boycott_reason %>
            You are boycotting because <%= user_boycott_reason %>
          <% else %>
            <a class='button' href='/company/boycott/<%= company[:slug] %>'>Boycott!</a>
          <% end %>
          <div class='stats'>
            <%= boycott_count %> boycotts
          </div>
        </div>
        <div id='piegraph'>
          <div class='title'>
            Reasons
          </div>
          <div id='boycotts'>
            <script lanuage='javascript'> make_pie(<%= boycotts.to_json %>) </script>
          </div>
      
        </div>
      </div>
    </div>
  </div>
</body>
</html>
