<div id='title'>
  <div id='name'>
    <img align='left' src='<%= sunlight_company["metadata"]["photo_url"] %>' />
    Boycott <%= sunlight_company["name"] %>
    <br/>
    <span class='stats'>
      <%= boycott_count %> people are boycotting
    </span>    
    
    <iframe src="http://www.facebook.com/plugins/like.php?href= http://picketline.us/company/<%= company[:slug] %>&amp;layout=button_count"
     scrolling="no" frameborder="0" 
     style="margin-top: 4px; border:none; position: absolute; right: 0; width:100px; height:80px"></iframe>
  </div>
</div>
<div id='left'>
  <div class='section'>    
    <div id='parent'>
      <!-- empty because parent company -->
    </div>
    <% if subsidiaries %>
      <div class='title'>
        Subsidiaries
      </div>
      <div id='subsidiaries'>
        <% subsidiaries.each do |s| %>
          <%= s["company_name"] %>
          <br/>
        <% end %>
      </div>
      <div class='footer'>
        From the <a href='http://api.corpwatch.org/'>CorpWatch API</a>
      </div>
    <% else %>
    <!-- TODO: put this link in once add subsidiary is a page that makes sense
      <a href='/company/add-subsidiaries/<%= company[:slug] %>'>Add Subsidiary Information</a>
      -->
    <% end %>
  </div>
</div>
<div id='middle'>
  <div id='contributions' class='section'>
    <div class='title'>
      Political Contributions
    </div>
    <script lanuage='javascript'> make_pol_pie(<%= party_pie.to_json %>) </script>
    <br/>
    <div class='footer'>
      More details on <a target='_blank' href='http://influenceexplorer.com/organization/<%= company[:slug]%>/<%= company[:sunlight_id] %>'>Influence Explorer</a>
    </div>
  </div>
</div>
<div id='right'>
  <div id='boycott' class='section'>
    <div id='personal'>
      <% if user_boycott_reason %>
        <div id='your_reason'>
          <%= user_boycott_reason %>
        </div>
      <% else %>
        <a class='button' href='/company/boycott/<%= company[:slug] %>'>Boycott!</a>
      <% end %>
    </div>
    
    <div id='reasons'>
      <div class='title'>
        Reasons to Boycott <%= company[:name] %>
      </div>
      <% if boycotts.length > 0 %>
        <div id='piegraph'>
          <script lanuage='javascript'>
            window.boycotts = <%= boycotts.to_json %>;
            make_pie(window.boycotts)
          </script>
        </div>
        <% boycotts.each_with_index do |b,i| %>
          <div style='padding-bottom: 10px' >
            <script language='javascript'> pie_dot(<%= i %>) </script>
            <%= b[0] %> (<%= b[1] %>)
          </div>
        <% end %>
      <% else %>
        None yet. <a href='/company/boycott/<%= company[:slug] %>'>Add your own!</a>
      <% end %>
    </div>
  </div>
</div>
<div id='references'>
  <div id='sites'>
    <div class='section'>
      <div class='title'>
        Web sites critical of <%= company[:name] %>
      </div>
      <div class='link_list'>
        <% critics['sites'].each do |p| %>
          <div>
            <a target='_blank' href='<%= p['url'] %>'><%= p['title'] %></a>
            &nbsp;
            <%= p['blurb'] %>
          </div>
        <% end %>
        <div class='add_link'>
          <a href='/company/add-link/<%= company[:slug] %>?type=sites'>[+] add site</a>
        </div>
      </div>
    </div>
  </div>
  <div id='press'>
    <div class='section'>
      <div class='title'>
        Press which is critical of <%= company[:name] %>
      </div>
      <div class='link_list'>
        <% critics['press'].each do |p| %>
          <div>
            <a target='_blank' href='<%= p['url'] %>'><%= p['title'] %></a>
            &nbsp;
            <%= p['blurb'] %>
          </div>
        <% end %>
        <div class='add_link'>
          <a href='/company/add-link/<%= company[:slug] %>?type=press'>[+] add link</a>
        </div>
      </div>
    </div>
  </div>
</div>

