<div id='title'>
  <div id='name'>
    <img width='200' align='left' src='<%= sunlight_company["metadata"]["photo_url"] %>' />
    <%= sunlight_company["name"] %>
    <br/>
    <span class='stats'>
      <%= boycott_count %> boycotts
    </span>
  </div>
</div>
<div id='left'>
  <div class='section'>    
    <div id='parent'>
      <!-- empty because parent company -->
    </div>
    <% if subsidiaries %>
      <div class='title'>
        Subsidiaries
      </div>
      <div id='subsidiaries'>
        <% subsidiaries.each do |s| %>
          <%= s["company_name"] %>
          <br/>
        <% end %>
      </div>
      From the <a href='http://api.corpwatch.org/'>CorpWatch API</a>
    <% else %>
    <!-- TODO: put this link in once add subsidiary is a page that makes sense
      <a href='/company/add-subsidiaries/<%= company[:slug] %>'>Add Subsidiary Information</a>
      -->
    <% end %>
  </div>
</div>
<div id='middle'>
  <div id='contributions' class='section'>
    <div class='title'>
      Political Contributions
    </div>
    <script lanuage='javascript'> make_pol_pie(<%= party_pie.to_json %>) </script>
    Details on <a target='_blank' href='http://influenceexplorer.com/organization/<%= company[:slug]%>/<%= company[:sunlight_id] %>'>Influence Explorer</a>
  </div>
</div>
<div id='right'>
  <div id='boycott' class='section'>
    <div id='piegraph'>
      <script lanuage='javascript'> make_pie(<%= boycotts.to_json %>) </script>
    </div>
    
    <% if user_boycott_reason %>
      You are boycotting <%= company[:name] %>
      <div id='your_reason'>
        <%= user_boycott_reason %>
      </div>
    <% else %>
      <a class='button' href='/company/boycott/<%= company[:slug] %>'>Boycott!</a>
    <% end %>
  </div>
</div>
